<div class="header row">
  <div class="col-10 d-flex pe-3 pt-1">
    <div class="ps-3 pt-2">
      <img class="img-logo" src="/assets/logo.png">
    </div>
    <div class="title-header ps-3 mt-0">
      <div class="fs-5 mb-0">
        PMAM
      </div>
      <div class="fs-6 mt-0">
        Polícia Militar do Amazonas
      </div>
    </div>
  </div>
  <div class="col-2 justify-content-center my-2 py-2">
    <button class="btn btn-primary" (click)="voltar()">
      <i class="bi bi-box-arrow-right"></i> Log out
    </button>
  </div>
</div>
