<div class="d-flex flex-column h-100 p-5 align-items-center" >
  <div class="h-50 w-50 d-flex">
    <div class="layout-principal-identidade col-11">
      <div class="container-logo d-flex justify-content-between m-4">
        <img src="assets/amazon_logo.png" style="width: 100%;height: 120%">
        <div class="text-center m-0">
          <p class="title-identidade-republica m-0 fw-bolder">REPLÚBLICA FEDERATIVA DO BRASIL</p>
          <p class="title-identidade-estado m-0 fw-bolder">ESTADO DO AMAZONAS</p>
          <h1 class="title-identidade-policia m-0 fw-bolder">POLICIA MILITAR</h1>
          <h3 class="title-identidade-carteira m-0 fw-bolder">CARTEIRA DE IDENTIDADE</h3>
        </div>
        <img src="assets/militar_police_logo.png" style="width: 120px;height: 90px">
      </div>

      <div class="container-fluid h-50" style="position: relative;">
        <div class="img-logo h-100 justify-content-center" style=" position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url('assets/militar_police_logo.png');
          background-repeat: no-repeat; opacity: 0.2; background-size: 30%; background-position: center;">
        </div>

        <div class="d-flex justify-content-between">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
            <div class="card-body">
            </div>
          </div>
          <div>
            <p class="border border-dark rounded">21dsadsdsad</p>
            <p class="border border-dark rounded">21dsadsdsad</p>
            <p class="border border-dark rounded">21dsadsdsad</p>
            <p class="border border-dark rounded">21dsadsdsad</p>
            <p class="border border-dark rounded">21dsadsdsad</p>
          </div>
        </div>

      </div>
    </div>
    <div class="faixa-identidade col-1 bg-success"></div>
  </div>

  <div class="h-50 w-50 d-flex mt-3">
    <div class="layout-principal-identidade col-11"></div>
    <div class="faixa-identidade col-1 bg-success"></div>
  </div>
</div>
