<div class="row m-0 p-0" id="ccaf">

  <div class="card-info m-5">
    <div class="card-body">
      <h5 class="card-title">Informativo</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Identidade do Militar</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success">Acessar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ficha do Militar</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success">Acessar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CCAF</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a id="btn-generate-ccaf" class="btn-generate-ccaf btn btn-success">Acessar</a>
      </div>
    </div>
  </div>
</div>
